<div class="cocktail-show-container">
  <div class="row">
    <div class="col-7 p-4">
      <h1 class="pl-4 mb-4"><%= @cocktail.name %></h1>
      <%= image_tag @cocktail.picture_URL, alt: "#{@cocktail.name} picture", height: 600, width: 550%>
    </div>

    <div class="col-5 mt-3">
      <h3 class="mb-3"><span class="border-bottom border-info">Ingredients: </span></h3>
      <% if@cocktail.doses.empty? %>
        <em>No ingredients yet...</em>
      <% else %>
        <ul class="mb-4 pl-4 w-75">
            <% @cocktail.doses.each do |dose| %>
              <li class="d-flex justify-content-between">
                <div class="ingredients-content">
                  <%= "#{dose.description} - #{dose.ingredient.name}" %>
                </div>
                <div class="ingredients-actions">
                  <%= link_to edit_cocktail_dose_path(@cocktail, dose), class: "ml-5 text-info" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to dose_path(dose),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "text-warning" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
        </ul>
      <% end %>

      <div class="dose-form w-75 mt-5">
        <h3 class="mb-3"><span class="border-bottom border-info">Add an Ingredient: </span></h3>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient, collection: Ingredient.order(:name) %>
          <div class="btn-bottom mt-4">
            <%= f.submit class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-5 review-container border-bottom">
      <h3 class="mb-3"><span class="border-bottom border-info">Reviews: </span></h3>
      <% if @cocktail.reviews.empty? %>
        <em>No review yet...</em>
      <% else %>
        <% @cocktail.reviews.each do |review| %>
          <p>
            <%= review.rating %>/5 <br>
            <%= review.content %>
          </p>
          <hr>
        <% end %>
      <% end %>

      <div class="review-form my-4">
        <%= simple_form_for [@cocktail, @review] do |f|%>
          <%= f.input :rating, collection: (0..5) %>
          <%= f.input :content %>
          <%= f.submit class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
